* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    font-size: 10px;
}

h1 {
    font-family: 'Seqoe UI', 'Arial', sans-serif;
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}

.logo {
    font-size: 2rem;
}

/**
    COMPONENTS
 */
.main-container {
    max-width: 150rem;
}

