@media screen and (max-width: 600px) {

    .burger-icon {
        visibility: visible;
    }

    .burger-icon:hover {
        cursor: pointer;
    }

    .burger-menu {
        visibility: hidden;
    }

    article {
        flex-direction: column;
        padding: 5em 1em 1em 1em;
    }

    .article-text {
        max-width: 100vw;
    }












}