@media screen and (max-width: 600px) {

    /* Mobile Menu*/
    #burger-icon-button {
        visibility: visible;
        cursor: pointer;
        background-color: rgb(224, 75, 66);
        color: #ffffff;
    }
    #burger-icon-button:hover {
        cursor: pointer;
        background-color: #ffffff;
        color: #000000;
    }
    .main-nav {
        display: flex;
        flex-direction: column;
    }
    #burger-menu {
        visibility: hidden;
        margin-top: 2em;
        width: 100vw;

        flex-direction: column;
    }

    #burger-menu li {
        height: 4em;
    }

    #burger-menu li a:link,
    #burger-menu li a:active,
    #burger-menu li a:visited
    {
        background-color: #fff;
        color: #989696;
        width: 100vw;

        display: flex;
        justify-content: center;
    }
    #burger-menu li a:hover {
        color: #ffffff;
        background-color: #8f8f8f;
        border-bottom: 1px solid #000000;
    }

    /* Articles */
    article {
        flex-direction: column;
        padding: 5em 1.5em 1em 1.5em;
    }

    .article-text {
        max-width: 100vw;
    }












}